.loginheader {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.loginpage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 800px;
  height: 100%;
  background-image: url(../../../public/images/aboutBackImage.jpg);
  background-size: cover;
  background-position: center;
}

.loginbar {
  max-width: 850px;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin: 180px 0;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.contactform .p {
  font-size: 20px;
}
.error {
  color: red;
  padding: 0.5rem 0;
}

.loggedIn-bar {
  max-width: 850px;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin: 180px 0;
  padding: 20px;
}
.LoggedInBarButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.LoggedInBarButton button {
  background-color: #ff9a00;
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow: 0px 2px 8px 0px black;
}
.LoggedInBarButton button:hover {
  transform: scale(1.1);
  background-color: #ff4d00;
}
