section {
  /*   padding: 2rem 0; */
  width: 100%;
  height: 100%;
  padding: 60px 30px;
  background-color: #080808;
}
.head {
  padding: 30px 0;
}
.exercise-head {
  display: flex;
  justify-content: space-between;
}
.exercise-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00ced1;
  /* color: #41df90; */
  font-size: 30px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin-left: 2rem;
  padding-left: 15px;
}
/* .cool-corner {
  border-bottom: 100px solid #41df90;
  border-right: 100px solid black;
} */
.Categoriser {
  display: flex;
  margin-right: 10px;
}
.filter-button {
  background-color: #080808;
  color: white;
  margin: 0 5px;
  padding: 0.1rem 0.5rem;
  border: 1px solid #080808;
  border-radius: 0.5rem;
}
.filter-button:focus {
  background-color: rgba(255, 255, 255, 0.456);
}

.search-bar {
  margin: 10px 0;
  background-color: #313131;
}

.exercises article {
  margin-bottom: 1rem;
}

.exercises h5 {
  margin-bottom: 0;
}

.exercise img {
  width: 200px;
  height: 150px;
}

.fittedImage {
  float: left;
  /*   width: 300px; */
  height: 300px;
  background-size: cover;
}

.fitnessHeader {
  background-image: url(../../../public/images/CoachPicture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -150px;
  width: 100%;
  height: 40vh;
  align-items: center;
  margin: 10px 0;
}

.fitnessHeader .content1 {
  width: 25%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 50px;
  padding-left: 10px;
  text-shadow: 3px 3px #000000;
}

.wrapper-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.8rem;
  justify-content: center;
}
.container-grid {
  box-shadow: 0px 2px 8px 0px gray;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  background-color: #008b8b;
  /*  background-color: rgb(190, 185, 185); */
  padding: 0 0.5rem;
  margin: 0.2rem;
}
.container-grid:hover {
  transform: scale(1.1);
  z-index: +1;
}
.container--body {
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding-top: 0.5rem;
}
.card-image {
  padding: 0.5rem;
  border-radius: 1rem;
}
.card-image img {
  width: 100%;
  height: 15rem;
  border-radius: 1rem 1rem 0 0;
  border: 0.15rem solid black;
}
.left {
  margin-right: 20px;
  color: white;
}
.left b {
  ffont-family: "Montserrat", sans-serif;
  color: #333;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-add {
  background-color: #483d8b;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 5px 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.472);
}
.button-add:hover {
  background-color: white;
  color: #483d8b;
  transform: scale(1.1);
}
.button-remove {
  background-color: #872657;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.472);
}

.button-remove:hover {
  background-color: white;
  color: red;
  transform: scale(1.1);
}
@media screen and (max-width: 1000px) {
  .wrapper-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .wrapper-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
