.home {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

*::selection {
  background-color: red;
  color: white;
}
.header {
  background-image: url(../../../public/images/HomeCoverImage.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  align-items: center;
  margin-top: 30px;
  display: flex;
}
.header .content1 b {
  color: rgb(219, 150, 20);
  text-shadow: 1px 1px 5px #333;
  font-size: 48px;
}

.header .content1 {
  width: 25%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(233, 228, 228);
  font-size: 40px;
  padding-left: 90px;
  text-shadow: 3px 3px #000000;
}
.header .content1 b {
  color: #ff4d00;
}
/* END OF HEADER CONTENT*/

/*START OF ABOUT CONTENT*/
.about {
  background-color: rgba(96, 88, 88, 0.188);
  height: auto;
  padding: 50px 0;
  min-height: 400px;
}
.about p {
  font-size: 30px;
}
.about h2 {
  font-size: 40px;
  color: #00ced1;
  font-weight: bold;
}
.about h3 {
  font-size: 30px;
  color: white;
  font-weight: bold;
}
.info {
  margin-top: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 240px;
}
.info-body {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.info-logo {
  border: 6px solid #ff4d00;
  border-radius: 50%;
  padding: 10px;
  height: auto;
  width: 100px;
}
.info-text {
  margin-left: 30px;
}
.info-text h3 {
  padding-bottom: 10px;
  color: #00ced1;
}
.info-text p {
  font-size: 20px;
  color: white;
}
/*END OF ABOUT CONTENT*/

/*START OF SIGNUP CONTENT*/
.SignUp {
  background-color: #ff9a00;
  height: auto;
  padding: 20px 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.SignUpBar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  border: 4px solid white;
  border-radius: 80px;
  margin: 0 30px;
  width: 70%;
}
.SignUpBar h2 {
  color: white;
}
.SignUpBar p {
  font-size: 20px;
  color: white;
  margin: 0 10px;
}
.SignUpBar input {
  font-size: 20px;
  width: 20%;
  border-radius: 0 15px 0 15px;
}

/*END OF SIGNUP CONTENT*/
.content2 {
  padding: 2em 0;
  background: linear-gradient(to bottom, #252525 0%, #ffffff 113%);
  color: white;
  font-size: 24px;
}
.options {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 50px 40px;
  color: black;
}
.options .option1 {
  background-image: url(../../../public/images/fitness-beginner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -50px;
  height: 50vh;
  width: 50%;
  border: 2px solid black;
  padding: 60px;
}
.options .option2 {
  background-image: url(../../../public/images/fitness-advanced.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  width: 50%;
  border: 2px solid black;
  padding-top: 60px;
}
.options .Image1 {
  background-image: url(../../../public/images/GainMass.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 40vh;
  width: 40%;
  padding-top: 60px;
}
.options .Image2 {
  background-image: url(../../../public/images/LosingFat.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 40vh;
  width: 40%;
  padding-top: 60px;
}
.options .text {
  height: 40vh;
  width: 60%;
  padding-top: 60px;
}

.contact {
  background-color: black;
  /*  background-image: url(../../../public/CoachPicture.jpg); */
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  color: rgba(255, 255, 255, 0.827);
}
.contact .info {
  color: rgba(255, 255, 255, 0.827);
}
footer {
  width: auto;
  height: 400px;
}

.loginInactiveStyle {
  font-size: 24px;
  text-decoration: none;
  padding: 8px 10px;
  border: 3px solid white;
  background-color: #ff9a00;
  border-radius: 18px;
  color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.846);
}

.loginInactiveStyle:hover {
  font-size: 25px;
  padding: 10px 15px;
  border: 2px solid white;
  background-color: #ff4d00;
  color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.846);
}
