.activeStyle {
  color: white;
  text-decoration: none;
  background-color: #555;
  font-size: 18px;
  border-radius: 5px;
  padding: 0 2px;
}
.activeStyle:hover {
  border-bottom: 2px solid #ff4d00;
  color: #ff4d00;
  transform: scale(1.1);
}
.brand:hover {
  border-bottom: 2px solid #ff4d00;
}
.inactiveStyle {
  color: #ff9a00;
  text-decoration: none;
  font-size: 18px;
}
.inactiveStyle:hover {
  border-bottom: 2px solid #ff4d00;
  color: #ff4d00;
  transform: scale(1.1);
}

.nav {
  text-decoration: none;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 60px;
  text-align: center;
  padding: 5px;
  border-bottom: 2px solid black;

  /*Make Navbar sticky*/
  z-index: 1;
  width: 100%;
  position: fixed;
  top: 0;
}
.nav-child {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  text-align: center;
  padding-top: 15px;
}
.nav-brand {
  display: flex;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 20px;
  text-decoration: none;
}
.nav-brand:hover {
  color: #ff9a00;
  border-bottom: #ff9a00;
}
.nav-brand p {
  font-family: "Abril Fatface", cursive;
  font-size: 32px;
  margin: 0 0 0 20px;
}
